<h1>Page#Index</h1>
<p>Find me in app/views/page/Index.html.erb</p>
<p>
	First configure 'config -> initializer -> inflections'
</p>
<p>
	the configure controller adding variable @foo = 'bar'
</p>
<p>
	then inside view <% console %>
</p>

<% console %>