<h1>Example#test</h1>
<p>Find me in app/views/example/test.html.erb</p>
<hr />
<h1>First experiment with erb</h1>
<p>Addition:
  <%= 1 + 1 %>
</p>
<hr />
<p>Loop from 0 to 5
<br />
<%= (0..5).each do |i| %>
    <%= "#{i}, " %>
<% end %>
<hr />
</p>
<h2>Time</h2>
<p>
<%= @current_time %> 
<%# Llamamos la variable que @current_time que se encuentra en el metodo 
test del controlller Example que es el metodo que se refiere a este archivo%>
</p>
<hr />
<h2> Footer </h2>
<%= render partial: "footer", locals: {start_year: '2000'} %>
<%# Pasamos la vaiable start_year desde el index y no desde el _footer.html.erb %>
</p>
<hr>
<h2>Rendering stars with helper file</h2>
<p>
	<b>Rating: </b> <%= render_stars(5)%>
</p>
<hr>
<p>
	<h2>Debugging</h2>
	<%= debug @foo %>
</p>
<hr>
<p>
<h2>Another footer</h2>
<%= render partial: 'footer', locals: {start_year: '2018'}  %>
<%# Pasa otro valos porque existe la variable {start_year} dentro del contexto
que es llamado en el _footer.html.erb dentro del if defined? %>
</p>

