doctype html
html
  head
    title Jumbotron Template for Bootstrap
    // Bootstrap core CSS
    link(href='/stylesheets/bootstrap.css', rel='stylesheet')
  body
    nav.navbar.navbar-inverse
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') PC Repairs
        #navbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='/service') Service
            li
              a(href='/about') About
            li
              a(href='/contact') Contact
        // /.nav-collapse
    .container
     block content
    hr
    footer
     p(class='text-center') © 2015 Company, Inc.
    // /container